body {
    font-family: sans-serif;
    color: #eaeaea;
}

.par {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}

.main_menu ul li {
    font: bold 20px Arial, Verdana;
    list-style-type: none;
    display: inline;
    background-color: #eaeaea;
    margin-right: 75px;
    border: 2px solid #000;
    padding: 7px;
}

.main_menu ul a {
    color: rgb(92, 15, 25);
    text-decoration: none;
}

.header1 {
    font-size: 64px;
    color: #1F3F68;
}

.header2 {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.header3 {
    font-size: 36px;
    text-align: center;
}

.header4 {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}

.inp {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.push {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}